/*+++++++++++++++++++++
=====================================
 Template Name : Himu
 Author Name : Mostafizur Rahman
 Author URI : http://mostafiz.me/
 Template URI :http://mostafiz.me/demo/himu/
 Version : 1.0
===============================
+++++++++++++++++++*/


/*
====================================
------------------------------------
	1. Typography
	2. Header
	3. Main Slider
	4. About Us
	5. Service
	6. Our Team
	7. Portfolio
	8. Clients
	9. Our Blog
	10. Contact
	11. Footer
	12. Carousel Effect
	13. Isotope
	14. Portfolio Hover effect
-------------------------------------
=====================================
*/


/*====================
======Typography=====
======================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	font-weight:400;	
	color:#43484E;
	line-height: 1.3;
}

body  section{
	
	padding-top: 40px;
}

small {
    font-size: 80%;
}

a:hover {
	outline: none;
	text-decoration:none;
}

a:focus {
	outline:none;
	outline-offset: 0;
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color:#f5f5f5;
	font-size: 14px;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.0;	
    margin-top: 5px;
    margin-bottom: 5px;

	
}



h1 {

font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
	font-size: 32px;
	
}

h2, .h2 {
    font-size: 28px;
}

.slider-btn {
	background-color:#385054;
	color: #FFF;
	-webkit-box-shadow: inset 0 0 0 2px #fc7700;
	box-shadow: inset 0 0 0 2px #385054;
	text-transform: uppercase;
	width: 190px;
	text-align: center;
	height: 55px;
	line-height:55px;
	padding: 0;
	font-size: 18px;
	font-weight:800;
	border: 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.slider-btn:hover {
	background-color:#43484E;
	-webkit-box-shadow: inset 0 0 0 2px #43484E;
	box-shadow: inset 0 0 0 2px #43484E;
	color:#fff
}


.parallax-section{
	min-height: 300px;
	width: 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.preloader{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: table;
	background: #fff;
	z-index: 9999;
}

.preloder-wrap{
	display: table-cell;
	vertical-align: middle;
}

.preloder-inner {
	width: 200px;
	height: 100px;
	margin: 0 auto;
}

.ball {
	width: 10px;
	height: 10px;
	margin: 10px auto;
	border-radius: 50px;
	
}
  
.ball:nth-child(1) {
	background: #999;
	-webkit-animation: right 1s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out;
	animation: right 1s infinite ease-in-out;    
}

.ball:nth-child(2) {
	background: #3c5659;
	-webkit-animation: left 1.1s infinite ease-in-out;
	-moz-animation: left 1.1s infinite ease-in-out;
	animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
	background: #999;
	-webkit-animation: right 1.05s infinite ease-in-out;
	-moz-animation: right 1.05s infinite ease-in-out;
	animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
	background: #3c5659;
	-webkit-animation: left 1.15s infinite ease-in-out;
	-moz-animation: left 1.15s infinite ease-in-out;
	animation: left 1.15s infinite ease-in-out;
 }

.ball:nth-child(5) {
	background: #999;  
	-webkit-animation: right 1.1s infinite ease-in-out;
	-moz-animation: right 1.1s infinite ease-in-out;
	animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
	background: #3c5659;  
	-webkit-animation: left 1.05s infinite ease-in-out;
	-moz-animation: left 1.05s infinite ease-in-out;
	animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
	background: #999;  
	-webkit-animation: right 1s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out;
	animation: right 1s infinite ease-in-out;
}


@-webkit-keyframes right {
	0%   { -webkit-transform: translate(-15px);   }
	50%  { -webkit-transform: translate(15px);    }
	100% { -webkit-transform: translate(-15px);   }
}

@-webkit-keyframes left {
	0%   { -webkit-transform: translate(15px);    }
	50%  { -webkit-transform: translate(-15px);   }
	100% { -webkit-transform: translate(15px);    }
}

@-moz-keyframes right {
	0%   { -moz-transform: translate(-15px);   }
	50%  { -moz-transform: translate(15px);    }
	100% { -moz-transform: translate(-15px);   }
}

@-moz-keyframes left {
	0%   { -moz-transform: translate(15px);    }
	50%  { -moz-transform: translate(-15px);   }
	100% { -moz-transform: translate(15px);    }
}

@keyframes right {
	0%   { transform: translate(-15px);  }
	50%  { transform: translate(15px);   }
	100% { transform: translate(-15px);  }
}

@keyframes left {
	0%   { transform: translate(15px);   }
	50%  { transform: translate(-15px);  }
	100% { transform: translate(15px);   }
}


.vertical-middle{
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-middle div{
	display: table-cell;
	vertical-align: middle;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*====================
======Header CSS=====
======================*/

#navigation .navbar {
  background: #0c8843;
  border-radius: 0;
  border-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px;
  padding-bottom: 0px;
}

#navigation .navbar-toggle{
    margin-top: 20px;
    background-color: #5cb85c;
}

.navbar-inverse .navbar-toggle {
    border-color: #f6f6f6;
}

#navigation .navbar-brand h1{
  padding: 0;
  margin: 0;
}

#navigation .navbar-nav.navbar-right li {
	padding: 0 1px;
}

#navigation .navbar-nav.navbar-right {
	margin-top:28px
}

#navigation .navbar-nav.navbar-right li a {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all .9s ease 0s;
	-moz-transition: all .9s ease 0s;
	-o-transition: all .9s ease 0s;
	transition: all .9s ease 0s;
	padding: 6px 15px;
}

#navigation .navbar-inverse .navbar-nav  .active  a,  
#navigation .navbar-inverse .navbar-nav  .active  a:focus, 
#navigation .navbar-nav.navbar-right li a:hover {
	color: #333;
	background-color: rgba(0, 0, 255, 0);
	
}


/*======================
====Main Slider CSS=====
=======================*/
.home-pattern {
	height:100%;
	position: absolute;
	width:100%;
	z-index:1;
	left:0;
	bottom:0;
	background-image:url(../);
	background-repeat:repeat;
	opacity:0.2;
}

#home{
  padding: 0;
  overflow: hidden;
  position:relative
}

#main-carousel .carousel-inner .item {
	background-size:cover;
	height: 100%;
	background-position: 50% 50%;
	background-repeat:no-repeat;
	background-position: center center;
}

#main-carousel .carousel-indicators { 
	bottom:15px
}

#main-carousel .carousel-indicators li{
	background: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	width: 13px;
	height: 13px;
	margin-left: 5px;
	text-indent: -9999px;
	display: inline-block;
}

.carousel-indicators .active{
	background-color: #fff !important;
	
}

.slider-content {
	height: 100%;
}

#main-carousel .carousel-caption {
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: 11;
	    padding-top: 50px;
}

#main-carousel .carousel-caption > div{
    vertical-align: middle;
    display: table-cell;
}

#main-carousel .carousel-inner h2 {
	color: #f6f6f6;
	display: inline-block;	
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 40px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.52);
	
}

#main-carousel .carousel-inner h2 span{
  color:#7ab700;
}

#main-carousel .carousel-inner p {
	color: #f6f6f6;	
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 59px;
	margin-top: 0;
	text-shadow:none;
}

#main-carousel .carousel-left{
	left:-50px;
}

#main-carousel .carousel-right{
	right:-50px;
}

#main-carousel:hover .carousel-left{
	left:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

#main-carousel:hover .carousel-right{
	right:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

#main-carousel .carousel-left,
#main-carousel .carousel-right{
	padding: 15px;
	z-index: 12;
	font-size: 60px;
	color: rgba(255, 255, 255, 0.52);
	top: 50%;
	position: absolute;
	margin-top: -60px;
	text-align: center;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

.carousel-right {
  right:65px
}

.carousel-left {
  left:65px
}

#main-carousel .carousel-left:hover,
#main-carousel .carousel-right:hover{
	color: #F6F6F6;
	
}	

#admin {
	overflow: hidden;
    background-image: #f1f1f1;  
    position: relative;
    padding-bottom: 25px;
    border-top: 2px solid #ddd;
    color: #807f7f;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	min-height: 100vh;
	
}

/*=======================
====== About Us CSS =====
=========================*/


#about-us {
	overflow: hidden;
    background-image: #f1f1f1;  
    position: relative;
    padding-bottom: 25px;
    border-top: 2px solid #ddd;
    color: rgb(128, 127, 127);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	min-height: 90vh;
	
}

.col-sm-12, .col-md-12, .col-lg-12, col-md-8, col-sm-8, col-md-4 col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-12, col-xs-6 {

    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}



.col-xs-1, .col-xs-2 {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
	line-height: 1;
}

a:hover, a:focus {
    color: #7fc27f;
    text-decoration: underline;
}


@media (max-width: 767px)
#about-us p {
    font-size: 13px;
}


#about-us .title-one {
	color: #6d321c;
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
	padding-bottom:10px;
	text-align: center;
	text-transform: uppercase;
	position:relative;
	

}

.title-one {
	color: #6d321c;
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
	padding-bottom:10px;
	text-align: center;
	text-transform: uppercase;
	position:relative
}


#about-us p2 {
	font-weight:300;
	font-size:18px;
	line-height: 30px;
	color: #fb8216;
}

.about-us .col-sm-6 {
	margin-top:50px
}

.about-us h3 {
	font-size: 20px;
	text-transform: uppercase;
}

.about-us .tab-content {
	
	background:#FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 25px;
}

.about-us .nav-tabs li a {
	border-top:2px solid #f6f6f6;
	color:#fc7700
}

.about-us .nav-tabs li.active a, 
.about-us .nav-tabs li.active a:hover, 
.about-us .nav-tabs li.active a:focus {
	border-radius: 0;
	border-top: 2px solid #fc7700;
	color: #333333;
}

.about-us .tab-content 
.pull-left.media-object {
	background-color: #F6F6F6;
	margin-right: 20px;
	padding: 5px;
}


.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:25px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:20px;
	font-weight:bold;
	height:25px;
	line-height: 35px;
	font-size:13px;
	color:#ffffff;
	background:#5cb85c;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 10px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:25px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:25px;
	line-height:25px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

@media (max-width: 479px)
#footer p {
    font-size: 12px;
}

@media (max-width: 767px)
#footer p {
    font-size: 12px;
}

/*====================
======Service CSS=====
======================*/

#services {
  background-image: url("");
  min-height: 720px;
    width: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
  text-align:center;

  padding-bottom: 50px;
}

.services {
	display:block;
	overflow:hidden;
	margin-top:50px
}



#services h5{
font-size: 20px;
    line-height: 24px;
}


#services h4{
    color: #444;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.services-details:hover h4, .services-details:hover .services-icon {
    color: #6baaff;
}


.single-service {
	background-color: rgba(204, 203, 203, 0.39);
	padding:25px;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.single-service p {
	color: #fff;
	text-align:left;
	font-size: 12px;
}

.single-service i {
	text-align:center;
	font-size:80px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	height: 150px;
	line-height: 150px;
	width: 150px;
	color:#43484E;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.single-service:hover {
	background-color: #b9b9b9;
}

.single-service:hover i {
	color:#fc7700;
	-moz-transform: scale(1.1) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.services-icon {
  color: #444;
  display: inline-block;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}

.section-headline.services-head>h2 {
  margin-bottom: 25px;
}

.services-details {
  padding-top: 40px;
  transition: all 0.5s ease 0s;
}

.services-details:hover h4, .services-details:hover .services-icon {
  color: #6baaff;
}


/*====================
======Contact CSS=====
======================*/

#contact {	
	
	background-image: url(../images/fondo.jpg);   
	min-height: 90vh;
    width: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}


#contact .contact-heading {
	padding-bottom:35px;
	position: relative;
	z-index: 10;
}


#contact  .title-one {
	color: #555;
	display: inline-block;
	font-size: 24px;
	font-weight: 600;
	padding-bottom:10px;
	text-align: center;
	text-transform: uppercase;
	position:relative
}

.contact-details {	
	padding-top:10px;
}

.pattern {
	height:100%;
	position:absolute;
	width:100%;
	z-index:1;
	left:0;
	bottom:0;
	background-image:url(../images/pattern.png);
	background-repeat:repeat;	
	background-color: black;
}


.contact-address {
	background-color: #fff;
	height:390px;
	padding-top:85px
}

.contact-address .social-icons a i {
	border-radius:0;
	height:30px;
	line-height:inherit;
	width:30px;
	border-width:0;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	margin-right:10px
}
.contact-address .social-icons i:hover {
	transform: scale(.9);
}

.social-icons a {
	color: #A2A2A2;
	font-size: 20px;
	border: 1px solid #A2A2A2;
	border-radius: 50%;
	text-align: center;
	padding: 6px;
	width: 44px;
	height: 44px;
	display: inline-block;
	margin: 2px;
}


.social-icons a:hover {
  color: #fc7700;
  border: 1px solid #fc7700;
}

.contact-address .social-icons, 
.contact-address address {
	z-index:2;
	position:relative
}

.contact-address  p {
	font-weight:800;
	font-size:24px;
	color: white;
}


#contact-form-section {	
	padding:35px;
	background-color: #FFF; 
	height:390px;
}
#contact-form-section .btn-primary {
	background-color:#fc7700;
	border-color:#f6f6f6;
	border-radius:0;
	padding:10px 35px;
	text-transform:uppercase;
	font-weight:800;
	transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

#contact-form-section .btn-primary:hover {
	background-color:#43484E
}

#contact-form input, 
#contact-form textarea, 
#contact-form .btn-primary  {
	position:relative;
	z-index:2;
}

#contact-form .name-field, 
#contact-form .mail-field  {
	width:49%;
}

#contact-form .name-field {
	margin-right:2%;	
	float:left
}

#contact-form .mail-field {
	
}

#contact-form-section .form-control {
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

#contact-form-section textarea {
	resize:none
}

#contact-form-section .form-control:focus {
	border-color: #fc7700;
	outline: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
}


/*====================
======Footer CSS=====
======================*/

#footer {
	background-color:#333;
	padding:15px 0;
	color:#ddd;
	font-size:11px;
	position:relative;
	margin-top:1px;
}

#footer p {
	margin: 0
}

#footer a {
	color:#4385be
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}



/*============================
======Carousel Effect CSS=====
==============================*/


.carousel.scale .carousel-inner > .item.left > div:nth-child(1),
.carousel.scale .carousel-inner > .item.right > div:nth-child(1) {
  -webkit-animation: fadeOutDown 300ms linear 0ms both;
  animation: fadeOutDown 300ms linear 0ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(1),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(1) {
  -webkit-animation: fadeInDown 300ms linear 75ms both;
  animation: fadeInDown 300ms linear 75ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(2),
.carousel.scale .carousel-inner > .item.right > div:nth-child(2) {
  -webkit-animation: fadeOutDown 300ms linear 75ms both;
  animation: fadeOutDown 300ms linear 75ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(2),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(2) {
  -webkit-animation: fadeInDown 300ms linear 150ms both;
  animation: fadeInDown 300ms linear 150ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(3),
.carousel.scale .carousel-inner > .item.right > div:nth-child(3) {
  -webkit-animation: fadeOutDown 300ms linear 150ms both;
  animation: fadeOutDown 300ms linear 150ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(3),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(3) {
  -webkit-animation: fadeInDown 300ms linear 225ms both;
  animation: fadeInDown 300ms linear 225ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(4),
.carousel.scale .carousel-inner > .item.right > div:nth-child(4) {
  -webkit-animation: fadeOutDown 300ms linear 225ms both;
  animation: fadeOutDown 300ms linear 225ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(4),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(4) {
  -webkit-animation: fadeInDown 300ms linear 300ms both;
  animation: fadeInDown 300ms linear 300ms both;
}


/*==================================
====== Isotope Recommended CSS=====
====================================*/

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */






/*----------------------------------------
 8.Team Area Css
----------------------------------------*/


#marcelo {
  background: rgba(0, 0, 0, 0) url("../img/fondo-puente2.jpg") no-repeat fixed center top / cover;
  height: auto;
  width: 100%;
	color: #fff;
}



/*--------------------
4.3. Portfolio
--------------------*/
.col-0-gutter {
    padding-left: 0;
    padding-right: 0;
}

figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 1px 1px 0;
/*	min-width: 320px;
	max-width: 480px;
	max-height: 360px; */
	background: #726FB9;
	text-align: center;
	cursor: pointer;	
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}

.ot-portfolio-item figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.ot-portfolio-item figure figcaption, .ot-portfolio-item figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-bubba {
	background: #3c763d;
	margin-bottom: 1px;
}

figure.effect-bubba img {
	opacity: 0.90;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 0px solid #fff;
	border-bottom: 0px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 0px solid #fff;
	border-left: 0px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	opacity: 0;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*--------------------
4.4. Dark Short section (counters, quote, etc)
--------------------*/

.light-bg {
	background-color: #E2E2E2;
	color: #e7501e;
}

.light-bg p{	
	color: #666;
}

.dark-bg {	
	color: #fff;	
	background-color: #e7501e;	
}


.btn-success {
    color: #fff;
    background-color: #34ae5a;
    border-color: #4cae4c;
	 width: 240px;
    outline-color: #fff;
    border-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    width: 240px;
    border-color: #fff;
}

.btn-secondary {
    color: #fff;
    background-color: #5cb85c29;
    border-color: #337ab7;   
    border-color: #fff;
	   
}


.btn-ligth {
    color: #fff;
    background-color: #5cb85c29;
    border-color: #337ab7;   
    border-color: #fff;
	width: 100px;
}


.btn-info {
    color: #fff;  
    border-color: #337ab7;
    width: 240px;
	background-color: #25b125a8;
    border-color: #fff;
}

 .btn-light {
    color: #777;   
    border-color: #337ab7;
    width: 240px;
    border-color: #fff;
}

 .btn-dark {
    color: #777;   
    border-color: #337ab7;    
    border-color: #fff;
}



.single1 {
    margin-bottom: 0px;   
    background-color: #0668328c;
    padding: 10px;
    transition: all 1s ease 0s;
  
}

.single2 {
    margin-bottom: 0px;   
    background-color: #5cb85c52;
    padding: 10px;
    transition: all 1s ease 0s;
  
}

.single3 {
    margin-bottom: 0px;   
    background-color: #36b05cf2;
    padding: 10px;
    transition: all 1s ease 0s;
  
}

.modal-content {
    position: relative;
	
     
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
   
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    opacity: .2;
    filter: alpha(opacity=20);
}

.modal-footer {
    padding: 5px 5px 10px;
    margin-top: 5px;
    text-align: right;
}

.modal-content2 {
    position: relative;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    background-color: #0c8843;
    color: #fff;
}
