

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-top: 5%;
  }
  /* The navigation menu links */
  .sidenav div {
    margin-top: 20%;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #08b917;
  }
  

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .btn-admin{
    background-color: #4CAF50;
    border: none;
    color: #ffffff;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 2px 0px 0px 2px;
    width: 80%;
    border-radius: 30px;

    border-width: 0;
   outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  }
  .btn-table{
    border: none;
    color: #807f7f;
    padding: 2%;
    font-size: 130%;
    margin-right: 3%;
    width: 15%;
  }

  .btn-edit-publication{
    background-color: #f7f7f7;
    border: none;
    color: #4CAF50;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0px 0px 6px;
    width: 100%;
    border-radius: 30px;
    border-width: 0;
   outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  }
  .personal-data{

    background-color: #cbd4cc !important;
  }
  

  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px !important; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff;
    padding-top: 5%;
  }

   /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0px;
  padding-left: 3%;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
  /* Style page content */
  .main {
    margin-left:250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  transition: all ease-out 300ms;
}

.scrollbar
{

height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}



/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #4CAF50 ;
  color: white;
}
.active{
  color:#4CAF50;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
 

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
 
} 


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    padding-left: 3%;

    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  
  }
}
}

/* Mobile Screen */
@media only screen and (max-width: 767px) {
  
   /* The side navigation menu */
.sidebar {
  padding-left: 3%;

  margin: 0;
  padding: 0;
  width: 11%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.nav-text{
  display: none;
}
.main {
  margin-left:11%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  transition: all ease-out 300ms;
}
.scrollbar
{

height: 100%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

}

@media only screen and (max-width: 450px) {
  

  .slick-arrow{

    background-color: #4CAF50 !important;
  }
   /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 14%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-left: 3%;

}
.img-side{
  display: none;

}
.nav-text{
  display: none;
}
.main {
  margin-left:10%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  transition: all ease-out 300ms;
}


.scrollbar
{

height: 100%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}

}

 .slick-arrow{

  background-color: #4CAF50 !important;
}



